@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

/* Custom scrollbar styles */
.expense-history::-webkit-scrollbar {
  width: 8px; /* Set width of scrollbar */
}

.expense-history::-webkit-scrollbar-button {
  display: none; /* Remove up and down arrows */
}

.expense-history::-webkit-scrollbar-thumb {
  background-color: gray; /* Customize scrollbar thumb color */
  border-radius: 10px; /* Rounded scrollbar thumb */
}

.expense-history::-webkit-scrollbar-track {
  background-color: #ededed; /* Customize scrollbar track color */
}

/* Add this to your global stylesheet (e.g., styles/globals.css) */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-out;
}